* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.bgblack {
  background-color: black;
  width: 100%;
  box-sizing: border-box;
}
/* Navbar */
.nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000000;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}
.nav-link-custom a {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  transition: color 0.3s ease;
}

.nav-link-custom a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #00ff00;
  transition: width 0.3s ease, background-color 0.3s ease;
  -webkit-transition: width 0.3s ease, background-color 0.3s ease;
}

.nav-link-custom a:hover::after {
  width: 100%;
  left: 0;
  background: #00ff00;
}

.nav-link-custom a:hover {
  color: #00ff00;
  text-shadow: 0 0 8px #00ff00;
}

/* Herosec */

.herocontainer {
  padding: 60px 50px 50px;
  height: fit-content;
}
.hrec {
  border: #237217 solid 5px;
  border-radius: 10px;
  width: max-content;
  margin: 100px 10px 30px 0px;
  font-size: x-large;
  padding: 10px;
}
.hrec span {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 1.5px solid;
  margin-right: 3 px;
  animation: typeText 1s steps(20, end) forwards;
}
/*  keyframes for the letter-by-letter typing animation */
@keyframes typeText {
  from {
    width: 0;
  }
  to {
    width: 81%;
  }
}
.heading {
  animation: flyUp 1s ease forwards;
  animation-delay: 0s;
}
/*  keyframes for the flying up animation */
@keyframes flyUp {
  0% {
    transform: translateY(200%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.herocontainer div svg:hover {
  fill: #00ff00;
}
.social-icons svg {
  margin: 35px;
  width: 30px;
  height: 30px;
}
.social-icons > a {
  animation: flyUp 1s ease forwards;
  animation-delay: 0s;
}
/* keyframes for the typing animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.htext {
  display: inline-block;
  overflow: hidden;
  animation: typing 1s steps(20, end) forwards;
  font-family: Inknut Antiqua;
  font-size: 2vw;
}

.htextbold {
  position: relative;
  z-index: 1;
  opacity: 0;
  animation: flyOver 1s forwards;
  font-family: Inknut Antiqua;
  font-style: italic;
  font-size: xx-large;
  color: #237217;
}

/*  keyframes for the flying over animation */
@keyframes flyOver {
  from {
    transform: translateY(0) scale(1);
    opacity: 0;
  }
  to {
    transform: translateY(-20px) scale(1.1);
    opacity: 1;
  }
}

.himg {
  padding: 4px;
  height: 40px;
}
/* Keyframes for waving animation */
@keyframes wave {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
/* Apply waving animation to the waving image */
.waving-image {
  animation: wave 2s ease infinite;
}
.profimg {
  height: 480px;
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
  padding: 0;
}
.profimg img {
  max-width: 100%;
  max-height: 100%; /* Ensure image does not exceed container height */
  object-fit: contain; /* Maintain aspect ratio and fit within container */
}

/* Skills */

.bg-green {
  display: flex;
  justify-content: center;
  background-color: #237217;
  padding: 10px;
  flex-wrap: wrap;
  border-radius: 18px;
  opacity: 0.8;
  animation: grow-shake-shrink 6s infinite;
}
@keyframes grow-shake-shrink {
  0% {
    transform: scale(1.05);
  }
  30% {
    transform: scale(1);
  }
  40%,
  60% {
    transform: scale(1) rotate(3deg);
  }
  50%,
  70% {
    transform: scale(1) rotate(-3deg);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
.logo {
  height: 40px;
  margin-right: 10px;
}

.textgreen {
  font-size: 70px;
  color: #237217;
}

.skill {
  margin: 10px;
  padding: 10px;
  background-color: #080808;
  border-radius: 10px;
  width: 10rem;
  opacity: 0.9;
  
}

@keyframes fly-in {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.flying-animation {
  animation: fly-in 1s ease-out forwards;
}

/* Footer */

.footer {
  position: relative;
  bottom: 0;
  color: white;
  font-size: larger;
  text-align: center;
  padding: 20px;
  background-color: #237217;
}

/* about */

.circular-progress svg {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 100px;
  height: 100px;
}
.circular-progress-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin: 30px;
}

.circular-progress {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.circular-progress .outer {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 8px 8px 10px -1px rgba(81, 180, 9, 0.13),
    -8px -8px 10px -1px rgba(81, 180, 9, 0.7);
  padding: 5px;
  z-index: 0;
}

.circular-progress .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 2px 2px 6px -1px rgba(14, 179, 14, 0.2),
    inset -2px -2px 6px -1px rgba(81, 180, 9, 0.7);
}

.circular-progress #number {
  font-size: 24px;
  color: #fff;
}

.circular-progress-title {
  margin-top: 10px;
  font-size: 18px;
  color: #fff;
  text-align: center;
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 10px;
  stroke-dasharray: 282;
  stroke-dashoffset: 282;
  transition: stroke-dashoffset 1s ease-out; /* Smooth transition */
}
.about {
  animation: flyUp 1s ease forwards;
  animation-delay: 0s;
  display: block;
  margin-bottom: 10px;
  line-height: 25px;
}

.img-container img {
  width: 40%;
  margin-left: 200px;
}

/* contact us */
.contact {
  padding: 100px 50px 100px 0px;
}

.contact a {
  margin: 0 20px;
}

form input,
textarea {
  border-radius: 10px;
  border: none;
  width: 100%;
  margin: 10px;
  padding: 10px;
  display: flex;
  background: rgb(30, 29, 29);
  transition: none;
  color: #ffffff;
}

.btn {
  border-radius: 10px;
  border: 2px solid green;
  width: 100%;
  margin: 10px;
  color: #ffffff;
  padding: 10px;
  background: transparent;
  text-decoration: none;
}
.btn:hover {
  background-color: #00ff00;
}

/* projects */

.cardStyle {
  width: 100%;
  height: fit-content;
  color: white;
  text-align: center;
  margin: 25px;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 15px;
}
.projectDetail {
  position: absolute;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7));
  background-blend-mode: overlay;
  height: 100%;
  z-index: 2;
  border-radius: 15px;
  opacity: 0;
}
.projectDetail span {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2; /* adjust the number of lines */
  -webkit-box-orient: vertical;
}
.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow svg {
  opacity: 0;
  z-index: 1000;
  margin-top: 80px;
  text-decoration: none;
}
.cardStyle:hover svg {
  opacity: 1;
}
.cardStyle:hover {
  background-color: #000000;
  opacity: 0.9;
  border: #237217 3px solid;
}

.cardStyle:hover .projectDetail {
  opacity: 1;
  transform: scale(1.1);
}
.viewBtn {
  width: fit-content;
  position: absolute;
  right: 10px;
  top: 100%;
}
@media screen {
  ::-webkit-scrollbar {
    width: 8px;
     
  }
}

@media screen {
  ::-webkit-scrollbar-thumb {
    background-color: #237217;
  }
}