* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
body {
  overflow-x: hidden;
}
/* header */
 
.resumeBtn {
  border: 2px solid #171817;
  border-radius: 100px;
  padding: 5px;
}
.resumeBtn:hover{
  background-color: #000000;
}

/* Herosec */

.herocontainer {
  background-color: black;
  background-size: cover;
  padding: 100px 50px 50px 50px;
  margin: 0px 0;
  height: fit-content;
}
/* Define keyframes for the letter-by-letter typing animation */
@keyframes typeText {
  from {
    width: 0;
  }
  to {
    width: 81%;
  }
}

/* Apply the typing animation to each individual letter */
.hrec span {
  display: inline-block; /* Ensure each letter occupies its own line */
  overflow: hidden;
  white-space: nowrap;
  border-right: 1.5px solid;
  margin-right: 3 px;
  animation: typeText 1s steps(20, end) forwards; /* Apply the animation */
}
/* Define keyframes for the flying up animation */
@keyframes flyUp {
  0% {
    transform: translateY(200%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.herocontainer div svg:hover {
  fill: rgb(84, 204, 84);
}

.social-icons > div {
  animation: flyUp 1s ease forwards;
  animation-delay: 0.5s;
}

/* Adjust margins to separate the social icons */
.social-icons > div + div {
  margin-top: 20px;
}
/* Define keyframes for the typing animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.htext {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1s steps(20, end) forwards;
  font-family: Inknut Antiqua;
  font-size: larger;
}

.htextbold {
  position: relative; /* Change to relative positioning */
  z-index: 1; /* Ensure it appears above other text */
  opacity: 0;
  animation: flyOver 1s forwards;
  font-family: Inknut Antiqua;
  font-style: italic;
  font-size: xx-large;
  color: #237217;
}

/* Define keyframes for the flying over animation */
@keyframes flyOver {
  from {
    transform: translateY(0) scale(1);
    opacity: 0;
  }
  to {
    transform: translateY(-20px) scale(1.1);
    opacity: 1;
  }
}

.hrec {
  border: #237217 solid 5px;
  border-radius: 10px;
  width: max-content;
  margin: 100px 0 30px;
  font-size: x-large;
  padding: 10px;
}

.himg {
  padding: 4px;
  height: 40px;
}
/* Keyframes for waving animation */
@keyframes wave {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Apply waving animation to the waving image */
.waving-image {
  animation: wave 2s ease infinite;
}

.profimg {
  height: 480px;
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
}

.profimg img {
  max-width: 100%; /* Ensure image does not exceed container width */
  max-height: 100%; /* Ensure image does not exceed container height */
  object-fit: contain; /* Maintain aspect ratio and fit within container */
}

/* Skills */

.bg-green {
  display: flex;
  justify-content: center;
  background-color: #237217;
  padding: 20px;
  flex-wrap: wrap;
  border-radius: 18px;
  opacity: 0.9;
  animation: grow-shake-shrink 6s infinite;
}
@keyframes grow-shake-shrink {
  0% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1);
  }
  40%,
  60% {
    transform: scale(1) rotate(5deg);
  }
  50%,
  70% {
    transform: scale(1) rotate(-5deg);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.logo {
  height: 40px;
  margin-right: 10px;
}

.textgreen {
  font-size: 80px;
  color: #237217;
}
.skills-container {
  padding: 100px;
}
.skill {
  margin: 10px;
  padding: 10px;
  background-color: #080808;
  border-radius: 10px;
  width: 10rem;
  opacity: 0.9;
}

/* styles.css */

@keyframes fly-in {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.flying-animation {
  animation: fly-in 1s ease-out forwards;
}

/* Footer */

.footer {
  position: relative;
  bottom: 0;
  color: white;
  font-size: larger;
  text-align: center;
  padding: 20px;
  background-color: #237217;
}
/* about */
.img-container img {
  width: 40%;
  margin-left: 200px;
  /* padding: 20px; */
}

/* contact us */
.contact {
  padding: 100px 50px 100px 0px;
}

.contact a {
  margin: 0 20px;
}
/* common classes */
.greenrec {
  border: #237217 solid 6px;
  border-radius: 20px;
  width: fit-content;
  font-size: 60px;
  text-align: center;
  color: #237217;
  padding: 20px;
  margin-bottom: 30px;
  font-weight: bolder;
}
.centercontainer {
  display: flex;
  justify-content: center;
}

/* contact */

form input,
textarea {
  border-radius: 10px;
  border: none;
  width: 100%;
  margin: 10px;
  padding: 10px;
  display: flex;
  background: rgb(30, 29, 29);
  transition: none;
  color: #ffffff;
}

.btn {
  border-radius: 10px;
  border: 2px solid green;
  width: 100%;
  margin: 10px;
  color: #ffffff;
  padding: 10px;
  background: transparent;
  text-decoration: none;
}
.btn:hover {
  background-color: #4cd637;
}

.txt {
  font-family: Inknut Antiqua;
  font-size: larger;
}
.bgblack {
  background-color: black;
  width: 100%;
}

.cardStyle {
  width: 350px;
  height: fit-content;
  color: white;
  text-align: center;

  margin: 25px;
  /* padding: 10px; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
}
.projectDetail {
  position: absolute;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7));
  background-blend-mode: overlay;
  height: 100%;
  z-index: 2;
  border-radius: 15px;
  opacity: 0;
}
.projectDetail span {
  /* color: #237217; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2; /* adjust the number of lines */
  -webkit-box-orient: vertical;
}
.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow svg {
  opacity: 0;
  z-index: 1000;
  margin-top: 80px;
  text-decoration: none;
}
.cardStyle:hover svg {
  opacity: 1;
}
.cardStyle:hover {
  background-color: #000000;
  opacity: 0.9;
  border: #237217 3px solid;
}

.cardStyle:hover .projectDetail {
  opacity: 1;
  transform: scale(1.1);
}
